.img-container
{
    text-align: center;
}
.img-rounded
{
    border-radius: 7.25rem;
}
.nom-prenom
{
    margin-top: 10px;
    font-weight: 700;
    font-size: 3.2rem;
}
.poste-recherche
{
    color:#17b34a;
    font-style: italic;
    font-size: 1.5rem;
}
.name-job
{
    padding-left: 22px;
}
.bloc-top
{
    margin-bottom: 40px;
}
.bloc-mid .section
{
    margin: 30px 0;
}
.title-bloc-mid
{
    color:#17b34a;
    font-weight: 700;
}
.competences
{
    list-style: none;  
}
.competences li 
{
    margin: auto;
}
.progress-bar
{
    background-color:#17b34a;
}
.periode
{
    color:#17b34a;
    text-align: right;
    font-weight: 600;
}
.titre-formation
{
    font-weight: 700;
}
.section .col-12
{
    margin: 10px 0;
}