.left-bloc
{
    background-color:#0070c2;
    padding: 20px;
    
}
.avatar
{
    margin: 0 auto;
}
.avatar-countainer
{
    text-align: center;
}
.bloc-resume
{
    margin: 30px 0;
}
.bloc-resume h3
{
    font-size: 25px;
    color: #fff;
}
.bloc-resume p 
{
    color:#fff
}